<main>
    <div class="main">
    <div class="header"><h2>Meet Advocate</h2></div>
    <div class="advocates">
        <div class="advocate">
            <img src="assets/post.png" alt="">
            <div class="details">
                <h3>Kelvin Chaula</h3>
                <p>5 Years of experience</p>
            </div>
            <span class="spacer"></span>
            <button>
                <mat-icon>person_follow</mat-icon>
            </button>
        </div>
        <div class="advocate">
            <img src="assets/post.png" alt="">
            <div class="details">
                <h3>Kelvin Chaula</h3>
                <p>5 Years of experience</p>
            </div>
            <span class="spacer"></span>
            <button>
                <mat-icon>person_follow</mat-icon>
            </button>
        </div>
        <div class="advocate">
            <img src="assets/post.png" alt="">
            <div class="details">
                <h3>Kelvin Chaula</h3>
                <p>5 Years of experience</p>
            </div>
            <span class="spacer"></span>
            <button>
                <mat-icon>person_follow</mat-icon>
            </button>
        </div>
        <div class="advocate">
            <img src="assets/post.png" alt="">
            <div class="details">
                <h3>Kelvin Chaula</h3>
                <p>5 Years of experience</p>
            </div>
            <span class="spacer"></span>
            <button>
                <mat-icon>person_follow</mat-icon>
            </button>
        </div>
        <div class="advocate">
            <img src="assets/post.png" alt="">
            <div class="details">
                <h3>Kelvin Chaula</h3>
                <p>5 Years of experience</p>
            </div>
            <span class="spacer"></span>
            <button>
                <mat-icon>person_follow</mat-icon>
            </button>
        </div>
        <button class="seemore">
            See More
        </button>
    </div>
    </div>
</main>