<main>
    <app-create-post></app-create-post>
    <div class="post" *ngFor="let post of posts">
      <div class="header">
        <img src="assets/post.png">
        <span></span>
        <h2>Kelvin Chaula</h2>
      </div>
      <div class="wrapper">
        <div class="words">
          <div class="iwrite">{{ post.content }}</div>
        </div>
        <img *ngIf="post.image" [src]="post.image.url" alt="Uploaded Image">
        <div class="actions">
          <div class="fav">
            <div><mat-icon color="white">balance-scare</mat-icon></div>
            <div>{{ post.likes }}</div>
          </div>
          <div class="fav">
            <div><mat-icon color="white">comment</mat-icon></div>
            <div>{{ post.comments }}</div>
          </div>
          <div class="fav">
            <div><mat-icon color="white">book</mat-icon></div>
            <div>{{ post.bookmarks }}</div>
          </div>
        </div>
      </div>
    </div>
  </main>
  