<main>
    <app-create-post></app-create-post>
    <div class="post">  
        <div class="header">
            <img src="assets/post.png">
            <span></span>
            <h2>Kelvin Chaula</h2>
        </div> 
        <div class="wrapper">
        <div class="words">
            <div class="iwrite">
                Hello, I need a help from you
                I am writing this to denoate 
                that i am a Guru in websiting,
                A guru in angular, 
                A guru in node, 
                take care.
            </div>
        </div>
        <img src="assets/post.png">
        <div class="actions">
            <div class="fav">
            <div><mat-icon color="white">balance-scare</mat-icon></div>
            <div>20</div>
            </div>

            <div class="fav">
                <div><mat-icon color="white">comment</mat-icon></div>
                <div>20</div>
                </div>

            <div class="fav">
                    <div><mat-icon color="white">book</mat-icon></div>
                    <div>20</div>
                    </div>
        </div>
        </div>
    </div>
</main>