<main>
<div class="create">
<div class="image">
    <img src="assets/post.png">
</div>
<div class="creator">
    <textarea placeholder="Write something here!"></textarea>
    <div class="downer">
        <div class="image-upload">
            <input type="file" id="image-input">
            <label for="image-input">
              <mat-icon class="iconer">image</mat-icon>
            </label>
          </div>
          <div class="image-upload">
            <input type="file" id="image-input">
            <label for="image-input">
              <mat-icon class="iconer">video_library</mat-icon>
            </label>
          </div>
        <span class="spacer"></span>
          
        <button>
            <mat-icon class="iconer">send</mat-icon>
        </button>
    </div>
</div>
</div>
</main>