<main>
    <div class="profile">
        <div class="cover">
            <img src="assets/post.png" alt="">
        </div>
        <div class="about">
        <div class="details">
            <h2>Kelvin Chaula</h2>
            <p>I am a lawyear with experience of mroe than 30 years</p>  
        </div>
        <div class="actions">
            <button>Edit Profile</button>
            <button><mat-icon>verified_user</mat-icon></button>
        </div>
        </div>
        <div class="more">
            <button><mat-icon>event</mat-icon><div>Joined May 2012</div></button>
            <button><mat-icon>gavel</mat-icon><div>100 Consults</div></button>
            <button><mat-icon>location_on</mat-icon><div>Dar es Salaam</div></button>
        </div>
        
        <div class="deep">
            <p>Expertise: A professional Express advocate 
                should have a deep understanding of the 
                Express framework, its features, and best 
                practices. They should be well-versed in developing 
                web applications using Express and have a strong command of 
                JavaScript and Node.js.</p>
        </div>
    </div>
</main>