<main>
    <mat-drawer-container class="container">
      <mat-drawer #sidenav [mode]="isScreenSmall ? 'over' : 'side'" [opened]="!isScreenSmall">
        <mat-nav-list class="nav-list">
          <!-- <img src="assets/smartefd.png"> -->
          <ul class="fornav">
            <li class="alone"></li>
            <li>
              <a href="" routerLinkActive="router-link-active" >
              <div>
                <mat-icon color="white">home</mat-icon>
              </div>
              <div class="title">Home</div>
            </a>       
            </li>
            <li>
              <a href="" routerLinkActive="router-link-active" >
              <div>
                <mat-icon color="white">account_circle</mat-icon>
              </div>
              <div class="title">Profile</div>
            </a>       
            </li>
            <li>
              <a href="" routerLinkActive="router-link-active" >
              <div>
                <mat-icon color="white">person</mat-icon>
              </div>
              <div>Profile</div>
            </a>       
            </li>
            <li>
              <a href="" routerLinkActive="router-link-active" >
              <div>
                <mat-icon color="white">home</mat-icon>
              </div>
              <div>Home</div>
            </a>       
            </li>
            <li>
              <a href="" routerLinkActive="router-link-active" >
              <div>
                <mat-icon color="white">home</mat-icon>
              </div>
              <div>Home</div>
            </a>       
            </li>
          </ul>
        </mat-nav-list>
    </mat-drawer>
    <mat-toolbar class="mat-toolbar" color="primary">
     <button  (click)="sidenav.toggle()">
      <mat-icon >menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <!-- <button mat-icon-button [matMenuTriggerFor]="languageMenu"><mat-icon>language</mat-icon></button>
    <mat-menu #languageMenu="matMenu">
    <app-language-selection></app-language-selection>
    </mat-menu> -->
    <button  (click)="openUserOptions()">
      <mat-icon color="yellow">account_circle</mat-icon>
    </button>
    </mat-toolbar>
    <div class="content">
     <app-profile></app-profile>
     <div class="another-sider"><app-sub-lawyers></app-sub-lawyers></div> 
    </div>
    </mat-drawer-container>
    
  </main>